#Queeslaatmosfera {
    color: blue;
    font-size:24px;
    width:100%;
    text-align:center;
}
.linea {
color: red;
font-size:30px;
width:100%;
text-align:center;

}
.linea1 {
    color: purple;
    font-size:19px;
    width:100%;
    text-align:center;

}
.linea2 {
    color: greenyellow;
    font-size:15px;
    width:100%;
    text-align:center;
}
.imagen1 {
    width:50%;
    height: 300px;
    text-align:center;
    margin-left: 25%;

}
.imagen2 {
    width:50%;
    height: 300px;
    text-align:center;
    margin-left: 25%;

}